
table#history tr:nth-child(odd) {
    background: #fff;
}

table#history td.result {
    text-align: center;
}

table#history td.pass {
    background: #CAFF70;
}

table#history td.fail {
    background: #F08080;
}

