table.whiterounded tr:nth-child(odd) {
    background: #fff;
}

td.late {
    font-weight: bold;
}

table#github_state {
    margin-top: 20px;
}

table#github_state th {
    border-bottom: none;
}

table#hostprojects {
    margin-top: 30px;
}

table#branchruns {
    margin-top: 30px;
}

table#pullruns {
    margin-top: 30px;
}

table#hostcapabilities {
    margin-top: 30px;
}

