body {
    background: #C8C8C8;
    font-family: Helvetica,Arial,Geneva;
}

div.pager {
    text-align: center;
    padding-bottom: 10px;
}

div.banner {
    font-size: 200%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

table.runs {
    margin-left: auto;
    margin-right: auto;
}

table.runs td {
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
}

table.summary {
    width: 100%;
    background: #F0F0F0;
    border: 1px black solid;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    border-spacing: 0px;
}

table.summary td {
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

table.summary td.platform {
    text-align: center;
}

table.summary tr.time td.time {
    text-align: center;
    font-size: smaller;
    border-right: 1px solid black;
}

table.summary tr.pending {
  background: green;
}

table.summary td.test {
    border-right: 1px solid black;
}

table.summary tr.time td.history {
    border-top-right-radius: 5px;
}

table.summary tr.data td {
    width: 33%;
    padding-bottom: 2px;
}

table.summary tr.header td {
    text-align: center;
}

table.summary tr.phobos td.history {
    border-bottom-right-radius: 5px;
}

table.summary td.result {
    text-align: center;
}

table.summary td.pass {
    background: #CAFF70;
}

table.summary td.fail {
    background: #F08080;
}

table.summary td.checkout.pass {
    background: #F0F0F0;
}

table.summary td.unknown {
}
table.summary td.running {
}

table.summary tr.time td.history {
    border-bottom: 1px solid black;
    opacity: 1.0;
}
table.summary tr.header td.history {
    border-bottom: 1px solid black;
    opacity: 0.8;
}
table.summary tr.dmd td.history {
    border-bottom: 1px solid black;
    opacity: 0.6;
}
table.summary tr.druntime td.history {
    border-bottom: 1px solid black;
    opacity: 0.4;
}
table.summary tr.phobos td.history {
    opacity: 0.2;
}

table.summary td.historyPassed {
    background: #CAFF70;
}

table.summary td.historyFailed {
    background: #F08080;
}

table.history {
    background: #F0F0F0;
    border: 1px black solid;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    border-spacing: 0px;
}

table.history td {
    border-bottom: 1px solid #D0D0D0;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.history th {
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

table.history td.result {
    text-align: center;
}

table.history td.pass {
    background: #CAFF70;
}

table.history td.fail {
    background: #F08080;
}

